* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: "Montserrat";
  background-color: #232323;
}

#container {
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.square {
  border-radius: 5.6px;
  float: left;
  width: 30%;
  background: mediumaquamarine;
  padding-bottom: 30%;
  margin: 1.66%;
  transition: background 0.6s;
}

h1 {
  font-weight: normal;
  padding: 30px 0;
  line-height: 1.1;
  text-align: center;
  color: white;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #141e30, #243b55);
}
#colourDisplay {
  font-size: 200%;
}

.stripe {
  background-color: white;
  text-align: center;
  padding: 0px;
  margin-bottom: 50px;
  height: 35px;
}

#message {
  color: black;

  display: inline-block;
  width: 16.6%;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: inherit;
}

button {
  height: 35px;
  margin: 0;
  border: none;
  font-weight: 600;
  text-transform: uppercase;
  font-size: inherit;
  color: #243b55;
  letter-spacing: 1px;
  padding: 5px;

  outline: none;
  transition: 0.3s;
}

button:hover {
  height: 35px;
  margin: 0;
  border: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: white;
  background-color: #232323;
  padding: 5px;
}

.selected {
  margin: 0px;
  background-color: black;
  color: whitesmoke;
  height: 35px;
  letter-spacing: 1px;
  margin: 0;
  border: none;
  padding: 5px;
}

footer {
  position: fixed;
  bottom: 0;
}
.footer-distributed {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  font: bold 16px;

  padding: 5px 50px;
  margin-top: 20px;
}

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px "Cookie";
  margin: 0;
}

.footer-distributed h3 span {
  color: #5383d3;
}

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}

.footer-distributed .footer-icons {
  margin-top: 15px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}
.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;

  border-radius: 2px;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.8);
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
  transition: 3s;
}

.footer-distributed .footer-icons a :hover {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;

  border-radius: 2px;
  background-color: #5383d3;
  box-shadow: 0 0 10px #5383d3, 0 0 40px #5383d3, 0 0 80px #5383d3;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}
